@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

#heading{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 48px;
    margin-bottom: 2px;
}

#shpiel{
    font-family: 'Noto Sans TC', sans-serif;
}